<mat-toolbar class="header">
    <img src="assets/images/bd10-logo-print.png" alt="Batalha da 10 logo" class="logo">
    <div class="header-nav-buttons">
        <span class="draw">
            Sorteio
        </span>

        <span class="about-us">
            Sobre nós
        </span>
    </div>
    <div class="social-media">
        <a href="">
            <img src="assets/images/instagram-icon.svg" alt="Ícone instagram" class="instagram-icon">
        </a>
        <span class="instagram-user">
            &#64;batalhadadez
        </span>
    </div>
</mat-toolbar>